<center><h1><font color=#345F82>Twitter Data</font></h1>

<div><button style="width:240px" type "button" ng-click= "showByLocation($location)" size=60px>
Search by Location</button>
<button style="width:240px" type "button" ng-click= "showByLocation($location)" size=60px>
Search what's trending</button></div>

<div><input type="text" ng-model="searchText" class="form-control" placeholder="Search" size=120px></div>
<!---<body style="background-color:powderblue;">--->
<body style="background-color:#75DAFF;">

</center>
